
body{
margin: 0 auto;
padding: 0;
vertical-align: middle;
}


@media print{
 
div[view_id*="headerlayout"] {
	display: block !important; /*необходимо для page-break-inside: avoid* При свойстве display: inline-block работать не будет/
}
div[view_id*="layout"] {
	display: block !important; /*необходимо для page-break-inside: avoid*/
}
.webix_cell {
  page-break-inside: avoid;
  background-color: lightcoral;
}

}

@page{
  margin: 1cm;
}

.parent{
  width: 200px;
  height: 200px;
  background-color: lightgray;
}
.child{
  width: 100px;
  height: 100px;
  background-color: aqua;
  margin: 10px;
}

.parent .child{
  background-color:lightcoral;
}



