
#myChart {
  max-height: 400px; /* Максимальная высота контейнера */
  width: 100%; /* Ширина контейнера (по умолчанию 100%) */
}

#rightAxis{
  margin-bottom: 10px;
}

#leftAxis{
  margin-bottom: 10px;
}