html, body{
   height: 100%;
   margin: 0;
   padding: 0;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} 

header{
   height: 10%;
   min-width: 100%;
   background-color: rgb(119,146,215,0.63)
}

nav{
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

main{
   min-height: 80%;
   min-width: 100%;
}

footer{
   height: 10%;
   min-width: 100%;
   background-color: rgb(119,146,215,0.63)
}