
*{
    margin: 0;
    padding: 0;
}

.main-table{
    display: flex;
    justify-content: start;
    width: 700px;
    margin-top: 20px;
}

.main-table1{
    display: flex;
    justify-content: start;
    margin-left: 12px;
    text-align: center;
    width: 750px;
   
}
.main-table:nth-child(2n) {
padding-right: 0px;
}

.tableName {
/* border: solid coral; */
width: 280px;
height: auto;
margin-top: 10px;
text-align: left;
padding-right: 40px;
margin-left: 20px;
}

.tableName1 {
    /* border: solid coral; */
    margin-top: 10px;
    width: 300px;
    height: auto;
    margin-right: 90px;
    text-align: center;
    padding-right: 10px;
    margin-left: 60px;
    }

.tablePrice {
    /* border: solid coral; */
width: 90px;
height: auto;
margin-top: 10px;
text-align: center;
margin-left: 90px;
}

.upPriceWeekdayBtn {
    width: 70px;
    height: 30px;
    border-radius: 10%;
    background-color: rgb(33,111,253);
    color: white;
    border: none;
}
.upPriceWeekdayBtn1 {
    width: 70px;
    height: 30px;
    border-radius: 10%;
    background-color: rgb(33,111,253);
    color: white;
    border: none;
}
.upPriceWeekendBtn {
    width: 70px;
    height: 30px;
    border-radius: 10%;
    background-color: rgb(33,111,253);
    color: white;
    border: none;
}
.upPriceWeekendBtn1 {
    width: 70px;
    height: 30px;
    border-radius: 10%;
    background-color: rgb(33,111,253);
    color: white;
    border: none;
}
.btnDiv {
    width: 70px;
    height: 30px;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1180px;
  box-sizing: content-box;
  margin: 0 auto;
  gap: 30px;
}

.footer {
   height: 10px;
   background-color: aqua;
}

.container {
margin-top: 30px;
}

.card-img-top { 
    margin-top: 20px;
}