.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.container_link-form {
  display: flex;
  gap: 5px;
}
#video_real_time,
#video_play_back {
  width: fit-content;
  height: fit-content;
}
